body {
    margin: 0;
}

header {
    background-image: url('../images/banner.jpg');
    background-size: cover;
    color: rgb(230, 230, 230);
    text-align: center;
    font-family: sans-serif;
    height: 50vw;
    display: flex;
    flex-direction: column;
    // justify-content: center;
}

nav {
    background-color: rgb(18, 18, 18);
}

ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 10px;
    list-style: none;
}

h1 {
    text-transform: uppercase;
    margin-top: auto;
}
h2 {
    font-size: 95%;
    margin-bottom: auto;
}