@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://use.fontawesome.com/releases/v5.0.8/css/all.css');

html {
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}
button {
    text-transform: uppercase;
    border: none;
    padding: 10px 30px;
    border-radius: 4px;
}
.signup {
    text-transform: uppercase;
    color: white;
    background-color: hsl(208, 55%, 60%);
    border-radius: 4px;
}

header {
    background-image: url('http://unsplash.it/1000/500?image=700');
    padding-bottom: 100px;
    text-align: center;
    color: white;
}

nav {
    background-color: white;
    margin-bottom: 100px;
    color: black;
    padding: 10px;
    ul {
        display: flex;
    }
    li:first-child {
        margin-right: auto;
        text-transform: uppercase;
    }
    a {
        padding: 5px 15px;
    }
}