@font-face {
    font-family: 'Klinic Slab Bold';
    src: url('../fonts/KlinicSlabBold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/KlinicSlabBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/KlinicSlabBold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/KlinicSlabBold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/KlinicSlabBold.svg#8e90ab6d31b9d4bc42471dae9b791b37') format('svg'); /* Legacy iOS */
         
    font-style:   normal;
    font-weight:  700;
  }
  
  @font-face {
    font-family: 'Klinic Slab Bold';
    src: url('../fonts/KlinicSlabBoldIt.eot'); /* IE9 Compat Modes */
    src: url('../fonts/KlinicSlabBoldIt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/KlinicSlabBoldIt.woff') format('woff'), /* Modern Browsers */
         url('../fonts/KlinicSlabBoldIt.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/KlinicSlabBoldIt.svg#618c33abdbbe8e13f43a4162914a25fc') format('svg'); /* Legacy iOS */
         
    font-style:   italic;
    font-weight:  700;
  }
  
  @font-face {
    font-family: 'Klinic Slab Book';
    src: url('../fonts/KlinicSlabBook.eot'); /* IE9 Compat Modes */
    src: url('../fonts/KlinicSlabBook.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/KlinicSlabBook.woff') format('woff'), /* Modern Browsers */
         url('../fonts/KlinicSlabBook.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/KlinicSlabBook.svg#ef4b9a9c8bad3bc3791ab8a2756f476c') format('svg'); /* Legacy iOS */
         
    font-style:   normal;
    font-weight:  400;
  }
  
  @font-face {
    font-family: 'Klinic Slab Book';
    src: url('../fonts/KlinicSlabBookIt.eot'); /* IE9 Compat Modes */
    src: url('../fonts/KlinicSlabBookIt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/KlinicSlabBookIt.woff') format('woff'), /* Modern Browsers */
         url('../fonts/KlinicSlabBookIt.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/KlinicSlabBookIt.svg#c57518cf9b1bb131652880f11e079f6e') format('svg'); /* Legacy iOS */
         
    font-style:   italic;
    font-weight:  400;
  }
  
  @font-face {
    font-family: 'Klinic Slab Light';
    src: url('../fonts/KlinicSlabLight.eot'); /* IE9 Compat Modes */
    src: url('../fonts/KlinicSlabLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/KlinicSlabLight.woff') format('woff'), /* Modern Browsers */
         url('../fonts/KlinicSlabLight.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/KlinicSlabLight.svg#a6c7620236ba1cde743526303763973f') format('svg'); /* Legacy iOS */
         
    font-style:   normal;
    font-weight:  200;
  }
  
  @font-face {
    font-family: 'Klinic Slab Light';
    src: url('../fonts/KlinicSlabLightIt.eot'); /* IE9 Compat Modes */
    src: url('../fonts/KlinicSlabLightIt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/KlinicSlabLightIt.woff') format('woff'), /* Modern Browsers */
         url('../fonts/KlinicSlabLightIt.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/KlinicSlabLightIt.svg#e5fa01bfa1e18638c015f7e63bfdf919') format('svg'); /* Legacy iOS */
         
    font-style:   italic;
    font-weight:  200;
  }
  
  @font-face {
    font-family: 'Klinic Slab Medium';
    src: url('../fonts/KlinicSlabMedium.eot'); /* IE9 Compat Modes */
    src: url('../fonts/KlinicSlabMedium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/KlinicSlabMedium.woff') format('woff'), /* Modern Browsers */
         url('../fonts/KlinicSlabMedium.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/KlinicSlabMedium.svg#fd52dd882945bfc9b5d2bad8879c52ec') format('svg'); /* Legacy iOS */
         
    font-style:   normal;
    font-weight:  400;
  }
  
  @font-face {
    font-family: 'Klinic Slab Medium';
    src: url('../fonts/KlinicSlabMediumIt.eot'); /* IE9 Compat Modes */
    src: url('../fonts/KlinicSlabMediumIt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/KlinicSlabMediumIt.woff') format('woff'), /* Modern Browsers */
         url('../fonts/KlinicSlabMediumIt.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/KlinicSlabMediumIt.svg#07fe34313cb27300b091276b57c79ad4') format('svg'); /* Legacy iOS */
         
    font-style:   italic;
    font-weight:  400;
  }
  
  @font-face {font-family:"Bitwise";src:url("../fonts/bitwise.eot?") format("eot"),url("../fonts/bitwise.woff") format("woff"),url("../fonts/bitwise.ttf") format("truetype"),url("../fonts/bitwise.svg#bitwise") format("svg");font-weight:normal;font-style:normal;}