.btn {

// position: absolute;
// width: 251px;
// height: 69px;
// left: 612px;
// top: 721px;

background: linear-gradient(64.16deg, #4F4F4F 21.8%, #EB5757 83.65%);
border-radius: 5px;


/* Click here. */

// position: absolute;
// width: 183px;
// height: 30px;
// left: 644px;
// top: 742px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 32px;
text-align: center;

color: #F2F2F2;
}