$keycolor: hsl(181, 100%, 41%);
$white: hsl(0, 0%, 96%);
$black: hsl(0, 0%, 8%);

body {
    font-family: sans-serif;
    text-transform: uppercase;
}

header {
    padding: 10vw 2vw;
    background-color: $keycolor;
    text-align: center;
    color: $white;
}

// LoVe HAte links
// pseudo class link
a:link {
    color: inherit;
}
// pseudo class visited
a:visited {
    color: lime;
}
// pseudo class hover
a:hover {
    color: red;
}
// pseudo class active
a:active {
    color: purple;
}

a {
    color: inherit;
}

a.btn {
    background-color: transparentize($black, .75);
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    transition: background-color 200ms;
}
a.btn:hover {
    background-color: transparentize($black, .90);
    font-size: 32px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1 {
    font-size: 40px;
    font-weight: 100;
}
h2 {
    font-weight: 100;
    margin: 45px;
}
#features h2 {
    border-bottom: 3px double $black;
    display: inline-block;
}
header div {
    width: 35%;
    padding: 5vw;
    border-width: 3px 1px;
    border-style: double solid;
    border-color: $white;
    margin: 0 auto;
}

#features {
    text-align: center;
}
#features ul  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li {
        width: 25%;
        padding: 40px;
        border: 1px solid $black;
        margin-left: -1px;
        margin-top: -1px;
    }
    i {
        font-size: 300%;
        color: $keycolor;
    }
}


